

body {
  background-color: black;
  color: green;
    font-family: monospace;
}

#outputArea {
  width: 100vh; 
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 10px; 
}

#commandInput {
  background-color: black;
  border: 0;
  outline: none;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  color: green;
  font-family: monospace;
}
#commandInput::placeholder {
  color: green;

}
.terminal-line {
  display: flex;
  background: black;
  color: green;
  font-family: monospace;
}

.prefix {
  padding-right: 10px; 
  padding: 10px;
  white-space: nowrap; 
}